decorator>=4.1.0
numpy>=1.12.0
recommonmark
scipy>=1.0.0
sphinx>=3.2.1
# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here!
sphinx_rtd_theme
